@using Application.Constants;
@using Entities.Concrete;
@model StorageApplication.Helpers.EnumHelper.EnumViewModel;
@{
    ViewData["Title"] = "Home Page";
    var listeView = (List<Product>)ViewBag.Product;
    var amountView = (List<Amount>)ViewBag.Amount;
    var weightView = (List<Weight>)ViewBag.Weight;

    int vehicleSize = ConstHelper.VehicleSize();
}

<!DOCTYPE html>
<html>
<head>
    <title>Google Haritalar</title>
    <script src="https://maps.googleapis.com/maps/api/js?key="></script>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
        .dropdownList{

        }
    </style>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/js/indexdropdown.js"></script>
</head>
<body>

    <div id="map"></div>
    <div class="row container">
        <form>
            <div class="col-md-12 row">
                <div class="col-md-3">
                    <label for="disabledTextInput" class="form-label" style="margin-top:10px">Ürünler</label>
                    <select class="form-control dropdownList" id="firstProduct"  name="firstProduct">
                        <option>Seçim Yapınız</option>
                        @foreach (var item in listeView)
                        {
                            <option id="firstProduct_@item.Id" value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="disabledTextInput" class="form-label" style="margin-top:10px">Ağırlık</label>
                    <select class="form-control" id="WeightSelectedValue_1"  name="WeightSelectedValue_1">
                        <option>Seçim Yapınız</option>
                         @foreach (var item in weightView)
                        {
                            <option  value="@item.Value">@item.Name</option>
                        }
                    </select>
                
                </div>
                <div class="col-md-3">
                    <label for="disabledTextInput" class="form-label" style="margin-top:10px">Miktar</label>
                    <select class="form-control" id="AmountSelectedValue_1" name="AmountSelectedValue_1">
                        <option>Seçim Yapınız</option>
                      @foreach (var item in amountView)
                        {
                            <option value="@item.Value">@item.Name</option>
                        }
                    </select>
              
                </div>

            </div>
            <div class="col-md-12 row">
                <div class="col-md-3">
                    <label for="disabledTextInput" class="form-label"></label>
                    <select class="form-control dropdownList" id="secondProduct" name="secondProduct">
                        <option>Seçim Yapınız</option>
                        @foreach (var item in listeView)
                        {
                            <option id="secondProduct_@item.Id" value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="disabledTextInput" class="form-label"></label>
               

                    <select class="form-control" id="WeightSelectedValue_2" name="WeightSelectedValue_2">
                        <option>Seçim Yapınız</option>
                        @foreach (var item in weightView)
                        {
                             <option  value="@item.Value">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="disabledTextInput" class="form-label"></label>
          
                    <select class="form-control" id="AmountSelectedValue_2" name="AmountSelectedValue_2">
                        <option>Seçim Yapınız</option>
                        @foreach (var item in amountView)
                        {
                            <option value="@item.Value">@item.Name</option>
                        }
                    </select>
                </div>

            </div>
            <div class="col-md-12 row">
                <div class="col-md-3">
                    <label for="disabledTextInput" class="form-label"></label>
                    <select class="form-control dropdownList" id="thirdProduct" name="thirdProduct">
                        <option>Seçim Yapınız</option>
                        @foreach (var item in listeView)
                        {
                            <option id="thirdProduct_@item.Id" value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="disabledTextInput" class="form-label"></label>
                    <select class="form-control" id="WeightSelectedValue_3" name="WeightSelectedValue_3">
                        <option>Seçim Yapınız</option>
                        @foreach (var item in weightView)
                        {
                            <option value="@item.Value">@item.Name</option>
                        }
                    </select>
           
                </div>
                <div class="col-md-3">
                    <label for="disabledTextInput" class="form-label"></label>
     
                    <select class="form-control" id="AmountSelectedValue_3" name="AmountSelectedValue_3">
                        <option>Seçim Yapınız</option>
                        @foreach (var item in amountView)
                        {
                            <option value="@item.Value">@item.Name</option>
                        }
                    </select>
                </div>

            </div>
            <div class="col-md-12 row">
                <div class="col-md-3">
                    <label for="disabledTextInput" class="form-label"></label>
                    <select class="form-control dropdownList" id="fourthProduct" name="fourthProduct">
                        <option>Seçim Yapınız</option>
                        @foreach (var item in listeView)
                        {
                            <option id="fourthProduct_@item.Id" value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="disabledTextInput" class="form-label"></label>
           
                    <select class="form-control" id="WeightSelectedValue_4" name="WeightSelectedValue_4">
                        <option>Seçim Yapınız</option>
                        @foreach (var item in weightView)
                        {
                             <option  value="@item.Value">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="disabledTextInput" class="form-label"></label>
          
                    <select class="form-control" id="AmountSelectedValue_4" name="AmountSelectedValue_4">
                        <option>Seçim Yapınız</option>
                        @foreach (var item in amountView)
                        {
                            <option value="@item.Value">@item.Name</option>
                        }
                    </select>
                </div>

            </div>
            <div class="col-md-12 row">
                <label for="disabledTextInput" style="margin-top:10px" class="form-label">MOD</label>
                <div class="col-md-3" style="margin-top:15px">
                    <label>
                        <input type="radio" name="radioOption" value="Yaya" /> Yürüyerek
                    </label>
                </div>
                <div class="col-md-3" style="margin-top:15px">
                    <label>
                        <input type="radio" name="onemli" value="önemli" checked /> Önemli
                    </label>
                </div>  
                <div class="col-md-3" style="margin-top:15px">
                    <label id="yazdir">
                     
                    </label>
                </div>

            </div>

            <div class="col-md-12 row">
                <div class="col-md-3" style="margin-top:15px">

                    <label>
                        <input type="radio" name="radioOption" value="Araç" checked /> Araçla
                    </label>
                </div>
                <div class="col-md-3">
                    <label for="disabledTextInput" class="form-label"></label>

                    @*gitsin 2 sp'ye!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*@
                    <input type="radio"  name="onemli" value="onemsiz" /> Önemsiz
                </div>      
               

            </div>

            <button type="button" onclick="SendForm()" class="btn btn-primary">Submit</button>
        </form>

    </div>
    <div class="container form-group" style="margin-top:25px">
        <form id="ImageForm">
            <h2>Resim Yükle</h2>
            <input type="file" style="margin:10px" class="form-control" name="images" multiple>
            <input type="submit" style="margin:10px" class="btn btn-primary" value="Kaydet">
        </form>
    </div>
    <div class="container">
        <div id="table"></div>
    </div>



    <script>
     
            document.getElementById("ImageForm").addEventListener("submit", function (event) {
            event.preventDefault(); // Formun otomatik olarak gönderilmesini engeller
            SendForm();
            var formData = new FormData(this); // Form verilerini alır

            fetch("/Home/AddPicture", {
                method: "POST",
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    // İşlem tamamlandığında yapılacak işlemler
                    var label = "";
                    label += data.state.name + "</br>" + data.type.name + " - " + "</br>";

                    if (data.property != null) {
                        if (data.property.height != null ) {
                            label +="Yüksekliği: "+data.property.height+",";
                        }
                        if (data.property.length != null) {
                            label += "Uzunluğu: "+data.property.length + ",";
                        }
                        if (data.property.width != null) {
                            label += "Genişliği: " + data.property.width;
                        }
                    }  
                       
                
                    $('#yazdir').html(label);
            
                })
                .catch(error => {
                    // Hata durumunda yapılacak işlemler
                    console.error(error);
                });
        });
    </script>
    <script>

        var dropdowns = document.querySelectorAll('.dropdownList');
        var selectedProducts = {}; // Seçilen ürünleri tutmak için bir nesne oluşturuyoruz

        for (var i = 0; i < dropdowns.length; i++) {
            dropdowns[i].addEventListener('change', function () {
                var selectedOption = this.options[this.selectedIndex];
                var selectedProductId = selectedOption.value;

                // Seçilen ürünü güncelle veya çıkar
                if (selectedProducts[this.id] === selectedProductId) {
                    delete selectedProducts[this.id];
                } else {
                    selectedProducts[this.id] = selectedProductId;
                }

                // Diğer dropdown'ları kontrol et
                for (var j = 0; j < dropdowns.length; j++) {
                    if (dropdowns[j].id !== this.id) {
                        var options = dropdowns[j].querySelectorAll('option');
                        for (var k = 0; k < options.length; k++) {
                            var option = options[k];
                            var optionProductId = option.value;
                            var isDisabled = false;

                            // Seçilen ürünlerle karşılaştır
                            for (var id in selectedProducts) {
                                if (selectedProducts.hasOwnProperty(id) && selectedProducts[id] === optionProductId) {
                                    isDisabled = true;
                                    break;
                                }
                            }

                            option.disabled = isDisabled;
                        }
                    }
                }
            });
        }
     
        ///kordinatı almak için çalışan script 
        // tarayıcının konumunu alır
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition, showError);
            } else {
                console.log("Tarayıcınızda konum hizmetleri desteklenmiyor.");
            }
        }
        var myLatitude="";
         var myLongitude=";"

        function showPosition(position) {
            myLatitude = position.coords.latitude;
            myLongitude = position.coords.longitude;

            // Konum bilgilerini kullanarak yapmak istediğiniz işlemleri gerçekleştirin
        }

        function showError(error) {
            switch (error.code) {
                case error.PERMISSION_DENIED:
                    console.log("Konum erişimi reddedildi.");
                    break;
                case error.POSITION_UNAVAILABLE:
                    console.log("Konum bilgilerine erişilemiyor.");
                    break;
                case error.TIMEOUT:
                    console.log("İstek zaman aşımına uğradı.");
                    break;
                case error.UNKNOWN_ERROR:
                    console.log("Bilinmeyen bir hata oluştu.");
                    break;
            }
        }
       
        var startDistribution = new Array();

        var logId = [];
        //seçili dropdownlardan gelen veriler alınır
        function SendForm() {
            logId = [];
            var vehicleSize=0;
            var stringArray = new Array();
            startDistribution = new Array();
            var list = [];
            //sayfada gösterilecek product kadar p değeri arttırılmalı
            var p = 1;

            //property tanımlamaları
            var productId;
            var amount;
         

            var product1 = document.getElementById('firstProduct');
            var product2 = document.getElementById('secondProduct');
            var product3 = document.getElementById('thirdProduct');
            var product4 = document.getElementById('fourthProduct');

            var weight1 = document.getElementById('WeightSelectedValue_1');
            var weight2 = document.getElementById('WeightSelectedValue_2');
            var weight3 = document.getElementById('WeightSelectedValue_3');
            var weight4 = document.getElementById('WeightSelectedValue_4');     
            
            var amount1 = document.getElementById('AmountSelectedValue_1');
            var amount2 = document.getElementById('AmountSelectedValue_2');
            var amount3 = document.getElementById('AmountSelectedValue_3');
            var amount4 = document.getElementById('AmountSelectedValue_4');
         
            // Seçilen değeri yakalayın
            var selectedProduct1 = product1.value;
            var selectedProduct2 = product2.value;
            var selectedProduct3 = product3.value;
            var selectedProduct4 = product4.value;

            var selectedWeight1 = weight1.value;
            var selectedWeight2 = weight2.value;
            var selectedWeight3 = weight3.value;
            var selectedWeight4 = weight4.value;  
            
            var selectedAmount1 = amount1.value;
            var selectedAmount2 = amount2.value;
            var selectedAmount3 = amount3.value;
            var selectedAmount4 = amount4.value;


            var onem = document.querySelector('input[name="onemli"]:checked').value;
            var mod = document.querySelector('input[name="radioOption"]:checked').value;
            //boş olmayan seçilmiş dropdown verileri kontrol edilir ve listeye alınır

            if (selectedProduct1 != NaN && selectedAmount1 != NaN && selectedProduct1 != "Seçim Yapınız" && selectedAmount1 != "Seçim Yapınız" && selectedWeight1 != "Seçim Yapınız") {

                stringArray[0] = { "Miktar": parseInt(selectedAmount1), "UrunId": parseInt(selectedProduct1), "UrunAdi": "", "Konum": "", "DepoAdi": "", "DepoId": 0, "Latitude": 0, "Longitude": 0, "Agirlik": parseInt(selectedWeight1), "Mod": mod,"Zaman":onem };
                
            } 
            if (selectedProduct2 != NaN && selectedAmount2 != NaN && selectedProduct2 != "Seçim Yapınız" && selectedAmount2 != "Seçim Yapınız" && selectedWeight2 != "Seçim Yapınız") {
                stringArray[1] = { "Miktar": parseInt(selectedAmount2), "UrunId": parseInt(selectedProduct2), "UrunAdi": "", "Konum": "", "DepoAdi": "", "DepoId": 0, "Latitude": 0, "Longitude": 0, "Agirlik": parseInt(selectedWeight2), "Mod": mod, "Zaman": onem };
            }
            if (selectedProduct3 != NaN && selectedAmount3 != NaN && selectedProduct3 != "Seçim Yapınız" && selectedAmount3 != "Seçim Yapınız" && selectedWeight3 != "Seçim Yapınız") {
                stringArray[2] = { "Miktar": parseInt(selectedAmount3), "UrunId": parseInt(selectedProduct3), "UrunAdi": "", "Konum": "", "DepoAdi": "", "DepoId": 0, "Latitude": 0, "Longitude": 0, "Agirlik": parseInt(selectedWeight3), "Mod": mod, "Zaman": onem };
            }  
            if ( selectedProduct4 != NaN && selectedAmount4 != NaN && selectedProduct4 != "Seçim Yapınız" && selectedAmount4 != "Seçim Yapınız" && selectedWeight4 != "Seçim Yapınız") {
                stringArray[3] = { "Miktar": parseInt(selectedAmount4), "UrunId": parseInt(selectedProduct4), "UrunAdi": "", "Konum": "", "DepoAdi": "", "DepoId": 0, "Latitude": 0, "Longitude": 0, "Agirlik": parseInt(selectedWeight4), "Mod": mod, "Zaman": onem };
            }

            //eklenen her verinin ağırlığı toplanır ve sistemde hazır olarak belirlenen değerle karşılaştırılır
            //ağrılık kapasiteden büyükse uyarı çıkar
            if (selectedAmount1 != "Seçim Yapınız")
                vehicleSize += parseInt(selectedAmount1);
            if (selectedAmount2 != "Seçim Yapınız")
                vehicleSize += parseInt(selectedAmount2);
            if (selectedAmount3 != "Seçim Yapınız")
                vehicleSize += parseInt(selectedAmount3);
            if (selectedAmount4 != "Seçim Yapınız")
                vehicleSize += parseInt(selectedAmount4);

            if (parseInt(vehicleSize)>'@vehicleSize') {
                swal({
                    title: "Dikkat",
                    text: "Araç Kapasitesi Aşıldı! Maksimum Araç Kapasitesi: "+"@vehicleSize"+"KG",
                    icon: "warning",
                    button: "Tamam",
                });
                
                return;
            }

            $.ajax({
                url: '@Url.Action("GetStoreLocationAndProduct","Home")?l=' + myLatitude + "&l2=" + myLongitude + "&onemli=" + onem,
                type: "POST",
                data: JSON.stringify(stringArray),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                  //tabloyu temizle
                  document.getElementById('table').innerHTML="";

                  var stringTemplate="";
                    if(data=="0"){
                        swal({
                            title: "Dikkat",
                            text: "Yetersiz Stok",
                            icon: "warning",
                            button: "Tamam",
                        });
                        return;
                    }
                    if (data.length > 0) {
                        console.log(data);
                        ///hatalı gelenm ürünleri alert olarak gösterilecek yer
                        if (data[0].errorMessage.length > 0) {
                            var errorList = "<span>" + "Stokta Olmayan İsterler" + "</span>" + "</br>";
                            for (var e = 0; e < data[0].errorMessage.length; e++) {
                                errorList += "<span>" +[e+1]+"."+ data[0].errorMessage[e] + "</span>" + "</br>";
                            }
                            swal({
                                title: "Dikkat",
                                content: {
                                    element: "div",
                                    attributes: {
                                        innerHTML: errorList
                                    }
                                },
                                icon: "warning",
                                button: "Tamam",
                                
                            });
                            //return;
                        }
                        var duplicateCoordinateChecker = [];
                        var productList = [];
                       
                        var groupedData = {};
                        for (var i = 0; i < data.length; i++) {
                            var coordinates = `${data[i].latitude}/${data[i].longitude}`;
                            if (groupedData[coordinates]) {
                                groupedData[coordinates].push(data[i]);
                            } else {
                                groupedData[coordinates] = [data[i]];
                            }
                        }

                        for (var i = 0; i < data[0].logIdTemp.length; i++) {
                            if (data[0].logIdTemp[i] != undefined && data[0].logIdTemp[i] != null) {
                                logId.push(data[0].logIdTemp[i]);
                            }
                         
                        }

                        var stringTemplate = '';
                        
                        for (var coordinates in groupedData) {
                            var adListesi="";
                            var depoAdim="";
                            if (groupedData.hasOwnProperty(coordinates)) {
                                var group = groupedData[coordinates];
                                for (var j = 0; j < group.length; j++) {
                                    if (j-1== group.length) {
                                        adListesi += group[j].urunAdi ;
                                    }
                                    else{
                                        adListesi += group[j].urunAdi + "/";
                                    }
                                    depoAdim = group[j].depoAdi;
                                }
                                stringTemplate += `<tr>
                                            <th scope="row"></th>
                                             <td>${adListesi}</td>
                                            <td>${coordinates}</td>
                                             <td>${depoAdim}</td>
                                          </tr>`;
                            }
                        }

                        var htmls = `
                            <table class="table">
                            <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Ürün Adı</th>
                              <th scope="col">Konum X/Y</th>
                              <th scope="col">Konum Adı</th>
                            </tr>
                           </thead>
                           <tbody>
                                   ${stringTemplate}
                                      </tbody>
                                </table>
                           `
                        document.getElementById("table").innerHTML=htmls;
                        initMap(data);

                    }
                    else{
                            swal({
                                title: "Dikkat",
                                text: "Seçilen Ürün ve Adet bulunamadı",
                                icon: "warning",
                                button: "Tamam",
                            });
                    }
                 
                },
                error: function (data) {

                }

            })

        }


        function initMap(datacount) {
            var currentLocation = { lat: myLatitude, lng: myLongitude };
            var destinationLocations = [];
            var duplicateCoordinateChecker = [];

            if (datacount.length > 0) {
                for (var i = 0; i < datacount.length; i++) {
                    if (duplicateCoordinateChecker.indexOf(datacount[i].latitude) == -1) {
                        destinationLocations.push({
                            lat: datacount[i].latitude,
                            lng: datacount[i].longitude
                        });
                        duplicateCoordinateChecker.push(datacount[i].latitude);
                    }
                }
            }

            var mapOptions = {
                center: currentLocation,
                zoom: 12
            };

            var map = new google.maps.Map(document.getElementById("map"), mapOptions);

            // Mevcut konumu mavi daire şeklinde gösteren marker
            var currentLocationMarker = new google.maps.Marker({
                position: currentLocation,
                map: map,
                icon: {
                    path: google.maps.SymbolPath.CIRCLE,
                    scale: 4,
                    fillColor: "blue",
                    fillOpacity: 1,
                    strokeColor: "blue",
                    strokeOpacity: 1,
                    strokeWeight: 2
                }
            });

            var directionsService = new google.maps.DirectionsService();
            var directionsDisplay = new google.maps.DirectionsRenderer();
            directionsDisplay.setMap(map);

            var waypoints = [];
            for (var i = 0; i < destinationLocations.length; i++) {
                waypoints.push({
                    location: destinationLocations[i],
                    stopover: true
                });
            }

            var radioValue = document.querySelector('input[name="radioOption"]:checked').value;
            var request = {
                origin: currentLocation,
                destination: destinationLocations[destinationLocations.length - 1],
                waypoints: waypoints,
                optimizeWaypoints: true,
                travelMode: radioValue == "Yaya" ? google.maps.TravelMode.WALKING : google.maps.TravelMode.DRIVING
            };
                var distanceInKm;
                    var durationInHours;
            directionsService.route(request, function (result, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    directionsDisplay.setDirections(result);

                    var routes = result.routes;
                    var distance = 0;
                    var duration = 0;
                    for (var i = 0; i < routes.length; i++) {
                        var legs = routes[i].legs;
                        for (var j = 0; j < legs.length; j++) {
                            distance += legs[j].distance.value;
                            duration += legs[j].duration.value;
                        }
                    }

                    // Mesafeyi ve süreyi metrik birimlere dönüştür
                    distanceInKm = (distance / 1000).toFixed(1);
                    durationInHours = (duration / 3600).toFixed(1);
                    

                    // Harita üzerinde mesafe ve süreyi görüntülemek için bir bilgi penceresi oluştur
                    var infoWindow = new google.maps.InfoWindow({
                        content: "Mesafe: " + distanceInKm + " km<br>Süre: " + durationInHours + " saat"
                    });

                    // Bilgi penceresini mevcut konumun üzerine yerleştir
                    infoWindow.setPosition(currentLocation);
                    infoWindow.open(map);
                }
            });
            setTimeout(()=>{
         

            var requestData = {
                    logId: logId,
                time: distanceInKm + 'Km' + ',' + durationInHours + ' saat/dakika'
            };

            $.ajax({
                url: '@Url.Action("LogAddDistance", "Home")',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(requestData),
                success: function () {
                    // Başarılı olduğunda yapılacak işlemler
                }
            });
            }, 1500)
        }



          
       
    </script>

    <script>
  
            var q = "";
            document.addEventListener("DOMContentLoaded", function (event) {
                getLocation();
                setTimeout(()=>{
                initMap(q);
                },1000)
            });

      
    </script>

</body>
</html>